.h5p-image-juxtaposition .h5p-question-content {
  margin: 0;
}

.h5p-image-juxtaposition {
	--arrow-gap: 2px;
	--arrow-size: 8px;
	--controls-fallback-color: #f3f3f3;
	--control-bar-size: 3px;
	--fullscreen-button-size: calc(2.5 * var(--h5p-theme-spacing-s));
	--handle-size: 40px; /* Recommended min size for buttons on iOS */
	--icon-h5p-theme-collapse: '\e914';
	--icon-h5p-theme-expand: '\e915';


	display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  /* Will prevent flickering when sliding */
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

	.h5p-fullscreen-button {
		background-color: var(--h5p-theme-contrast-cta-light);
		border: none;
		border-radius: var(--h5p-theme-border-radius-large);
		color: var(--h5p-theme-contrast-cta-white);
		font-size: var(--h5p-theme-font-size-m);
		height: var(--fullscreen-button-size);
		padding: 0;
		position: absolute;
		top: var(--h5p-theme-spacing-xs);
		right: var(--h5p-theme-spacing-xs);
		width: var(--fullscreen-button-size);

		&:hover {
			background-color: color-mix(in srgb, var(--h5p-theme-contrast-cta-light), transparent 60%);
			cursor: pointer;
		}

		&:focus-visible {
			outline: var(--h5p-theme-contrast-cta-white) solid 2px;
		}

		&::before {
			content: var(--icon-h5p-theme-expand);
			font-family: 'h5p-theme';
			font-weight: normal;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.h5p-image-juxtaposition .h5p-question-introduction {
	padding-right: var(--fullscreen-button-size);
}

.h5p-image-juxtaposition.h5p-fullscreen .h5p-image-juxtaposition-container,
.h5p-image-juxtaposition.h5p-semi-fullscreen .h5p-image-juxtaposition-container {
  max-height: 100vh;
}

.h5p-image-juxtaposition.h5p-fullscreen .h5p-image-juxtaposition-task-description,
.h5p-image-juxtaposition.h5p-semi-fullscreen .h5p-image-juxtaposition-task-description {
  max-height: 50vh;
}

.h5p-image-juxtaposition .h5p-content-controls .h5p-enable-fullscreen:hover {
	background-color:  color-mix(in srgb, var(--h5p-theme-contrast-cta-light), transparent 60%);
}

.h5p-image-juxtaposition .h5p-content-controls .h5p-enable-fullscreen:focus-visible {
	outline: var(--h5p-theme-contrast-cta-white) solid 2px;
}

.h5p-image-juxtaposition .h5p-image-juxtaposition-spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h5p-image-juxtaposition .h5p-image-juxtaposition-spinner-container.h5p-image-juxtaposition-spinner-none {
  display: none;
}

.h5p-image-juxtaposition-spinner {
  display: inline-block;
  height: calc(4.5 * var(--h5p-theme-spacing-s));
  margin-bottom: var(--h5p-theme-spacing-s);
  margin-top: var(--h5p-theme-spacing-s);
  position: relative;
  width: calc(4.5 * var(--h5p-theme-spacing-s));
}

.h5p-image-juxtaposition-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: calc(4 * var(--h5p-theme-spacing-s));
  height: calc(4 * var(--h5p-theme-spacing-s));
  margin: var(--h5p-theme-spacing-xxs);
  border: var(--h5p-theme-spacing-xxs) solid #999;
  border-radius: 50%;
  animation: h5p-image-juxtaposition-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #999 transparent transparent transparent;
}

.h5p-image-juxtaposition-spinner .h5p-image-juxtaposition-spinner-circle-head {
  animation-delay: -0.45s;
}

.h5p-image-juxtaposition-spinner .h5p-image-juxtaposition-spinner-circle-neck-upper {
  animation-delay: -0.3s;
}

.h5p-image-juxtaposition-spinner .h5p-image-juxtaposition-spinner-circle-neck-lower {
  animation-delay: -0.15s;
}

.h5p-image-juxtaposition-spinner .h5p-image-juxtaposition-spinner-circle-body {
  animation-delay: 0s;
}

@keyframes h5p-image-juxtaposition-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.h5p-image-juxtaposition .h5p-image-juxtaposition-task-description-none {
  display: none;
}

.h5p-image-juxtaposition .h5p-image-juxtaposition-missing-images {
  font-size: var(--h5p-theme-font-size-xl);
  text-align: center;
  padding: var(--h5p-theme-spacing-m);
}

.h5p-image-juxtaposition-juxtapose {
  margin: 0;
  padding: 0;
	width: auto;
}

.h5p-image-juxtaposition-slider {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.h5p-image-juxtaposition-handle {
	position: absolute;
	height: 100%;
	width: var(--handle-size);
	cursor: col-resize;
	z-index: 15;
	margin-left: calc(-1 * var(--handle-size) / 2);
}

.h5p-image-juxtaposition-handle.transition {
	transition: left .5s ease;
}


.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-handle {
	height: var(--handle-size);
	width: 100%;
	cursor: row-resize;
	margin-top: calc(-1 * var(--handle-size) / 2);
	margin-left: 0;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-handle.transition {
  transition: top .5s ease;
}

.h5p-image-juxtaposition-control {
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	width: 3px;
	background-color: var(--handle-color, --controls-fallback-color);
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-control {
	height: 3px;
	width: 100%;
	background-color: var(--handle-color, --controls-fallback-color);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.h5p-image-juxtaposition-controller {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 60px;
	width: 9px;
	margin-left: -3px;
	background-color: var(--handle-color, --controls-fallback-color);
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-controller {
	height: 9px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	top: -3px;
	position: relative;
}

.h5p-image-juxtaposition-horizontal .h5p-image-juxtaposition-arrow {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 0;
	height: 0;
	transition: all .2s ease;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-arrow {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 0;
	height: 0;
	transition: all .2s ease;
}

.h5p-image-juxtaposition-horizontal .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: var(--arrow-gap);
	border-style: solid;
	border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0;
	border-color: transparent var(--handle-color, --controls-fallback-color) transparent transparent;
}

.h5p-image-juxtaposition-horizontal .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: var(--arrow-gap);
	border-style: solid;
	border-width: var(--arrow-size) 0 var(--arrow-size) var(--arrow-size);
	border-color: transparent transparent transparent var(--handle-color, --controls-fallback-color);
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: 0px;
	top: var(--arrow-gap);
	border-style: solid;
	border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
	border-color: transparent transparent #f3f3f3 transparent;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: 0px;
	top: initial;
	bottom: var(--arrow-gap);
	border-style: solid;
	border-width: var(--arrow-size) var(--arrow-size) 0 var(--arrow-size);
	border-color: #f3f3f3 transparent transparent transparent;
}

.h5p-image-juxtaposition-handle:hover .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left,
.h5p-image-juxtaposition-handle:active .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: -1px;
}

.h5p-image-juxtaposition-handle:hover .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right,
.h5p-image-juxtaposition-handle:active .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: -1px;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-handle:hover .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left,
.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-handle:active .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-left {
	left: 0px;
	top: 0px;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-handle:hover .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right,
.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-handle:active .h5p-image-juxtaposition-arrow.h5p-image-juxtaposition-right {
	right: 0px;
	bottom: 0px;
}


.h5p-image-juxtaposition-image {
	position: absolute;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	backface-visibility: hidden;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image {
	width: 100%;
	left: 0;
	top: initial;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image img {
	height: initial;
	width: 100%;
	z-index: 5;
	position: absolute;
	margin-bottom: 0;
	max-height: inherit;
	max-width: inherit;
}

.h5p-image-juxtaposition-horizontal .h5p-image-juxtaposition-image img {
	height: 100%;
	z-index: 5;
	position: absolute;
	margin-bottom: 0;

  max-height: inherit;
	max-width: inherit;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left {
	left: 0;
	background-position: left;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left.transition {
  transition: width .5s ease;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left img {
	left: 0;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right {
	right: 0;
	background-position: right;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right.transition {
  transition: width .5s ease;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right img {
	right: 0;
	bottom: 0;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image.h5p-image-juxtaposition-left {
	top: 0;
	background-position: top;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image.h5p-image-juxtaposition-left.transition {
  transition: height .5s ease;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image.h5p-image-juxtaposition-left img {
	top: 0;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image.h5p-image-juxtaposition-right {
	bottom: 0;
	background-position: bottom;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image.h5p-image-juxtaposition-right.transition {
  transition: height .5s ease;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-image.h5p-image-juxtaposition-right img {
	bottom: 0;
}

.h5p-image-juxtaposition-image .h5p-image-juxtaposition-label {
	font-size: var(--h5p-theme-font-size-m);
	padding: var(--h5p-theme-spacing-xxs) var(--h5p-theme-spacing-xs);
	position: absolute;
	display: inline-block;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
	z-index: 10;
	white-space: nowrap;
	vertical-align: middle;
}

.h5p-image-juxtaposition-left .h5p-image-juxtaposition-label {
	float: left;
	left: 0;
}

.h5p-image-juxtaposition-right .h5p-image-juxtaposition-label {
	float: right;
	right: 0;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-left .h5p-image-juxtaposition-label {
  top: 0;
  bottom: initial;
}

.h5p-image-juxtaposition-vertical .h5p-image-juxtaposition-right .h5p-image-juxtaposition-label {
	bottom: 0;
  float: left;
  left: 0;
  right: initial;
	top: initial;
}

.h5p-image-juxtaposition-image.h5p-image-juxtaposition-left .h5p-image-juxtaposition-label:focus,
.h5p-image-juxtaposition-image.h5p-image-juxtaposition-right .h5p-image-juxtaposition-label:focus {
  outline:none;
}

.h5p-image-juxtaposition .h5p-content-controls {
	display: none;
}

.h5p-fullscreen .h5p-image-juxtaposition .h5p-fullscreen-button::before {
	content: var(--icon-h5p-theme-collapse);
}
